.logo {
	position: absolute;
	left: 500px;
	top: 150px;
	
}
.search {
	position: absolute;
	left: 600px;
	top: 280px;
	min-width: 300px;


}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li {
	float: right;
}

a{
	display: block;
	width: 60px;
}
